.home {
    flex: 4;
}
.homeWidgets {
    display: flex;
    margin: 20px;
}

.container {
    display: flex;
    margin-top: 10px;
}

.link{
    text-decoration: none;
    color: inherit;
}